/**
 * File : main.css
 * Author: Nathan Cochran
 * Use Freely
**/


/** Custom Class : center cols **/
.centercols .entry-content-wrapper
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}
.centercols {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}


/** Mobile **/
@media only screen and (max-width: 767px)
{
}
/** Tablet **/
@media only screen and (min-width: 768px) and (max-width: 1125px)
{
}
/** Desktop **/
@media only screen and (min-width: 1126px) {
{
}
/** Maximum Container Width (1310px) **/
@media only screen and (min-width: 1311px) {
{
}
